html{
    min-height:92%; /* make sure it is at least as tall as the viewport */
    position:relative;
	font-family: "Montserrat",sans-serif;
}

body{
    height:94%; /* force the BODY element to match the height of the HTML element */
	margin: 0;
}

#cloud-container {
	/* position:absolute; */
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1; /* Remove this line if it's not going to be a background! */
	/* background-color: #00ff00; */
}

a {
	color: #000;
}

#title-container {
	height: 50px;
	background-color: #000000;
}

#title {
	line-height:50px;
	text-align: center;
	color: #ffffff;
	letter-spacing: 2px;
}

#upper-container {
	height: 60%;
	/* background-color: #ff00ff; */
}

#lower-container {
	height: 35%;
	/* background-color: #00ffff; */
}

#team-table {
	width: 100%;
	height: 95%;
}

#team-table td {
	padding: 50px;
	background-color: #f1f1f1;
	height: 50%;
}

.team-color {
    float: left;
    height: 100%;
    margin-right: 10px;
    width: 20px;
}

#setup-container {
	padding: 0.4em;
}

.table td, .table th {
	padding: 0.4em;
}

.gold {
	color: #C39F76;
}

.grey {
	color: #f1f1f1;
}